.admin-form{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    border-color: black;
    border-style: groove;
    background-color: #42f5ad;
}

.input{
    padding-left: 2%;
    padding-bottom: 5%;
}

.button{
    padding-left: 40%;
    padding-bottom: 5%;
}