.admin-form{
    width: 30%;
    margin: auto;
    margin-top: 5%;
    border-color: black;
    border-style: groove;
    background-color: #42f5ad;
}

.input{
    padding-bottom: 5%;
    width: 50%;
    margin: auto;
    text-align: center;
}

.button{
    width: 20%;
    margin: auto;
    padding-bottom: 5%;
}