.nav-bar{
    background-color: #42f5ad;
    padding: 2.5%;
    border-color: black;
    border-style: groove;
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.nav-link{
    text-align: center;
    background-color: lightblue;
    border-color: black;
    border-style: groove;
    margin-right: 10%;
}

.active{
    border: black 5px;
    border-style: groove;
}